{
  "openapi": "3.0.1",
  "info": {
    "title": "SpaceTraders Syndicate API",
    "description": "spacetraders.io OpenAPI Spec",
    "version": "1.0.0",
    "contact": {
      "email": "jaredlshort@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://api.spacetraders.io",
      "description": "Production"
    },
    {
      "url": "https://staging.api.spacetraders.io",
      "description": "Staging"
    }
  ],
  "paths": {
    "/users/{username}/token": {
      "post": {
        "operationId": "createUserToken",
        "summary": "Claim Username and Get Token",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUserTokenResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ParameterUsername"
        }
      ]
    },
    "/users/{username}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get User",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ParameterUsername"
        }
      ]
    },
    "/users/{username}/ships": {
      "post": {
        "operationId": "buyUserShip",
        "summary": "Buy User Ship",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuyUserShipPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuyUserShipResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listUserShips",
        "summary": "List User's Ships",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUserShipsResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ParameterUsername"
        }
      ]
    },
    "/users/{username}/ships/{shipId}": {
      "get": {
        "operationId": "getUserShip",
        "summary": "Get User's Ship Info",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserShipResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "scrapUserShip",
        "summary": "Scrap User's Ship",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapUserShipResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ParameterUsername"
        },
        {
          "$ref": "#/components/parameters/ParameterShipId"
        }
      ]
    },
    "/users/{username}/loans": {
      "post": {
        "operationId": "createUserLoan",
        "summary": "Create a New Loan",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserLoanPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUserLoanResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listUserLoans",
        "summary": "List User's Loans",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUserLoansResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ParameterUsername"
        }
      ]
    },
    "/users/{username}/loans/{loanId}": {
      "put": {
        "operationId": "payoffUserLoan",
        "summary": "Payoff a Loan",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoffUserLoanResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ParameterUsername"
        },
        {
          "$ref": "#/components/parameters/ParameterLoanId"
        }
      ]
    },
    "/users/{username}/purchase-orders": {
      "post": {
        "operationId": "createUserPurchaseOrder",
        "summary": "Create a New Purchase Order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserPurchaseOrderPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUserPurchaseOrderResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ParameterUsername"
        }
      ]
    },
    "/users/{username}/flight-plans": {
      "post": {
        "operationId": "createUserFlightPlan",
        "summary": "Create User Flight Plan",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserFlightPlanPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUserFlightPlanResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ParameterUsername"
        }
      ]
    },
    "/users/{username}/flight-plans/{flightPlanId}": {
      "get": {
        "operationId": "getUserFlightPlan",
        "summary": "Get a User Flight Plan",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserFlightPlanResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ParameterUsername"
        },
        {
          "$ref": "#/components/parameters/ParameterFlightPlanId"
        }
      ]
    },
    "/game/locations/{symbol}": {
      "get": {
        "operationId": "getGameLocation",
        "summary": "Get Game Location",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGameLocationResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ParameterSymbol"
        }
      ]
    },
    "/game/locations/{symbol}/ships": {
      "get": {
        "operationId": "listGameLocationsShips",
        "summary": "List Game Locations Ships",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGameLocationsShipsResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ParameterSymbol"
        }
      ]
    },
    "/game/systems/{symbol}/flight-plans": {
      "get": {
        "operationId": "listGameSystemFlightPlans",
        "summary": "List Flight Plans",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGameSystemFlightPlansResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ParameterSymbol"
        }
      ]
    },
    "/game/loans": {
      "get": {
        "operationId": "listGameLoans",
        "summary": "List Game Loans",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGameLoansResponse"
                }
              }
            }
          }
        }
      }
    },
    "/game/ships": {
      "get": {
        "operationId": "listGamePurchasableShips",
        "summary": "List Game Purchasable Ships",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGamePurchasableShipsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/game/systems": {
      "get": {
        "operationId": "listGameSystems",
        "summary": "List Game Systems",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGameSystemsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/game/status": {
      "get": {
        "operationId": "getGameStatus",
        "summary": "Get Game Status",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGameStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/game/systems/{symbol}/locations": {
      "get": {
        "operationId": "listSystemLocations",
        "summary": "List System Locations",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            },
            "example": "MOON",
            "description": "Filter locations fetched on location type"
          },
          {
            "in": "query",
            "name": "allowsConstruction",
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGameSystemLocations"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ParameterSymbol"
        }
      ]
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "bearerFormat": "Bearer {token}",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "ParameterUsername": {
        "name": "username",
        "in": "path",
        "example": "MyUser",
        "required": true,
        "schema": {
          "type": "string"
        },
        "style": "simple"
      },
      "ParameterShipId": {
        "name": "shipId",
        "in": "path",
        "example": "ckno9324k0079iiop71j5nrob",
        "required": true,
        "schema": {
          "type": "string"
        },
        "style": "simple"
      },
      "ParameterLoanId": {
        "name": "loanId",
        "in": "path",
        "example": "cko0ejf4o103666215s6u4pxjvwg",
        "required": true,
        "schema": {
          "type": "string"
        },
        "style": "simple"
      },
      "ParameterFlightPlanId": {
        "name": "flightPlanId",
        "in": "path",
        "example": "ckmtrssae0402zgopsy39y9z7",
        "required": true,
        "schema": {
          "type": "string"
        },
        "style": "simple"
      },
      "ParameterSymbol": {
        "name": "symbol",
        "in": "path",
        "example": "OE",
        "required": true,
        "schema": {
          "type": "string"
        },
        "style": "simple"
      }
    },
    "schemas": {
      "Ship": {
        "type": "object",
        "required": [
          "id",
          "cargo",
          "class",
          "location",
          "manufacturer",
          "maxCargo",
          "plating",
          "spaceAvailable",
          "speed",
          "type",
          "weapons",
          "x",
          "y"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "ckno9324k0079iiop71j5nroa"
          },
          "class": {
            "type": "string"
          },
          "location": {
            "type": "string",
            "example": "OE-PM-TR"
          },
          "manufacturer": {
            "type": "string",
            "example": "Jackshaw"
          },
          "maxCargo": {
            "type": "number",
            "example": 50
          },
          "plating": {
            "type": "number",
            "example": 5
          },
          "spaceAvailable": {
            "type": "number",
            "example": 50
          },
          "type": {
            "type": "string",
            "example": "JW-MK-I"
          },
          "weapons": {
            "type": "number",
            "example": 5
          },
          "x": {
            "type": "number",
            "example": 23
          },
          "y": {
            "type": "number",
            "example": -28
          }
        }
      },
      "Loan": {
        "type": "object",
        "required": [
          "id",
          "due",
          "repaymentAmount",
          "status",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "cko0ejf4o103666215s6u4pxjvdd"
          },
          "due": {
            "type": "string",
            "format": "datetime",
            "example": "2021-04-29T19:07:58.679Z"
          },
          "repaymentAmount": {
            "type": "number",
            "example": 280000
          },
          "status": {
            "type": "string",
            "example": "CURRENT"
          },
          "type": {
            "type": "string",
            "example": "STARTUP"
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "username"
        ],
        "properties": {
          "username": {
            "type": "string",
            "example": "MyUser"
          },
          "credits": {
            "type": "number",
            "example": 421337
          },
          "ships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ship"
            }
          },
          "loans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Loan"
            }
          }
        }
      },
      "CreateUserTokenResponse": {
        "type": "object",
        "required": [
          "token",
          "user"
        ],
        "properties": {
          "token": {
            "type": "string",
            "example": "096643df-72cc-40b5-95d3-514f47d3f9d9"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "GetUserResponse": {
        "type": "object",
        "required": [
          "user"
        ],
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "ListUserShipsResponse": {
        "type": "object",
        "required": [
          "ships"
        ],
        "properties": {
          "ships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ship"
            }
          }
        }
      },
      "BuyUserShipPayload": {
        "type": "object",
        "required": [
          "type",
          "location"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "location": {
            "type": "string"
          }
        }
      },
      "BuyUserShipResponse": {
        "type": "object",
        "required": [
          "credits",
          "ship"
        ],
        "properties": {
          "credits": {
            "type": "number",
            "example": 178875
          },
          "ship": {
            "$ref": "#/components/schemas/Ship"
          }
        }
      },
      "GetUserShipResponse": {
        "type": "object",
        "required": [
          "ship"
        ],
        "properties": {
          "ship": {
            "$ref": "#/components/schemas/Ship"
          }
        }
      },
      "ScrapUserShipResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "string"
          }
        }
      },
      "ListUserLoansResponse": {
        "type": "object",
        "required": [
          "loans"
        ],
        "properties": {
          "loans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Loan"
            }
          }
        }
      },
      "CreateUserLoanPayload": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "example": "STARTUP"
          }
        }
      },
      "CreateUserLoanResponse": {
        "type": "object",
        "required": [
          "credits",
          "loan"
        ],
        "properties": {
          "credits": {
            "type": "number",
            "example": 200000
          },
          "loan": {
            "$ref": "#/components/schemas/Loan"
          }
        }
      },
      "PayoffUserLoanResponse": {
        "type": "object",
        "required": [
          "user"
        ],
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "CreateUserPurchaseOrderPayload": {
        "type": "object",
        "required": [
          "shipId",
          "good",
          "quantity"
        ],
        "properties": {
          "shipId": {
            "type": "string",
            "example": "ckno92mhi0049iiopc2kmylkz"
          },
          "good": {
            "type": "string",
            "example": "FUEL"
          },
          "quantity": {
            "type": "number",
            "example": 50
          }
        }
      },
      "Order": {
        "type": "object",
        "required": [
          "good",
          "quantity",
          "pricePerUnit",
          "total"
        ],
        "properties": {
          "good": {
            "type": "string",
            "example": "FUEL"
          },
          "quantity": {
            "type": "number",
            "example": 50
          },
          "pricePerUnit": {
            "type": "number",
            "example": 3
          },
          "total": {
            "type": "number",
            "example": 150
          }
        }
      },
      "CreateUserPurchaseOrderResponse": {
        "type": "object",
        "required": [
          "credits",
          "ship",
          "order"
        ],
        "properties": {
          "credits": {
            "type": "number",
            "example": 74300
          },
          "ship": {
            "$ref": "#/components/schemas/Ship"
          },
          "order": {
            "$ref": "#/components/schemas/Order"
          }
        }
      },
      "CreateUserFlightPlanPayload": {
        "type": "object",
        "required": [
          "shipId",
          "destination"
        ],
        "properties": {
          "shipId": {
            "type": "string",
            "example": "ckmtrlqpz0109zgopkeqs4m5s"
          },
          "destination": {
            "type": "string",
            "example": "OE-CR"
          }
        }
      },
      "UserFlightPlan": {
        "type": "object",
        "required": [
          "arrivesAt",
          "createdAt",
          "departure",
          "destination",
          "distance",
          "fuelConsumed",
          "fuelRemaining",
          "id",
          "shipId",
          "terminatedAt",
          "timeRemainingInSeconds"
        ],
        "properties": {
          "arrivesAt": {
            "type": "string",
            "format": "datetime",
            "example": "2021-03-28T23:11:50.068Z"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime",
            "example": "2021-03-28T23:05:50.068Z"
          },
          "departure": {
            "type": "string",
            "example": "OE-PM-TR"
          },
          "destination": {
            "type": "string",
            "example": "OE-CR"
          },
          "distance": {
            "type": "number",
            "example": 46
          },
          "fuelConsumed": {
            "type": "number",
            "example": "13,"
          },
          "fuelRemaining": {
            "type": "number",
            "example": 67
          },
          "id": {
            "type": "string",
            "example": "ckmtrssae0402zgopsy39y9z7"
          },
          "shipId": {
            "type": "string",
            "example": "ckmtrlqpz0109zgopkeqs4m5s"
          },
          "terminatedAt": {
            "type": "string",
            "format": "datetime",
            "nullable": true,
            "example": null
          },
          "timeRemainingInSeconds": {
            "type": "number",
            "example": 365
          }
        }
      },
      "CreateUserFlightPlanResponse": {
        "type": "object",
        "required": [
          "flightPlan"
        ],
        "properties": {
          "flightPlan": {
            "$ref": "#/components/schemas/UserFlightPlan"
          }
        }
      },
      "GetUserFlightPlanResponse": {
        "type": "object",
        "required": [
          "flightPlan"
        ],
        "properties": {
          "flightPlan": {
            "$ref": "#/components/schemas/UserFlightPlan"
          }
        }
      },
      "LocationShip": {
        "type": "object",
        "required": [
          "shipId",
          "username",
          "shipType"
        ],
        "properties": {
          "shipId": {
            "type": "string",
            "example": "ckno9324k0079iiop71j5nrob"
          },
          "username": {
            "type": "string",
            "example": "SomeUser"
          },
          "shipType": {
            "type": "string",
            "example": "JW-MK-I"
          }
        }
      },
      "LocationStructure": {
        "type": "object",
        "required": [
          "id",
          "type",
          "location",
          "status",
          "active",
          "ownedBy",
          "inventory",
          "consumes",
          "produces"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "ckno69qb105191ds69utcsztz"
          },
          "type": {
            "type": "string",
            "example": "MINE"
          },
          "location": {
            "type": "string",
            "example": "OE-UC-AD"
          },
          "status": {
            "type": "string",
            "example": "Production running. Required inventory is in stock."
          },
          "active": {
            "type": "boolean",
            "example": true
          },
          "ownedBy": {
            "type": "object",
            "required": [
              "username"
            ],
            "properties": {
              "username": {
                "type": "string",
                "example": "SomeUser"
              }
            }
          },
          "inventory": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "good",
                "quantity"
              ],
              "properties": {
                "good": {
                  "type": "string",
                  "example": "METALS"
                },
                "quantity": {
                  "type": "number",
                  "example": 10
                }
              }
            }
          },
          "consumes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "produces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Location": {
        "type": "object",
        "required": [
          "symbol",
          "type",
          "name",
          "x",
          "y",
          "allowsConstruction"
        ],
        "properties": {
          "symbol": {
            "type": "string",
            "example": "OE-A1"
          },
          "type": {
            "type": "string",
            "example": "PLANET"
          },
          "name": {
            "type": "string",
            "example": "Alpha"
          },
          "x": {
            "type": "number",
            "example": 3
          },
          "y": {
            "type": "number",
            "example": 7
          },
          "allowsConstruction": {
            "type": "boolean",
            "example": true
          },
          "ships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocationShip"
            }
          },
          "structures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocationStructure"
            }
          }
        }
      },
      "GetGameLocationResponse": {
        "type": "object",
        "required": [
          "location"
        ],
        "properties": {
          "location": {
            "$ref": "#/components/schemas/Location"
          }
        }
      },
      "ListGameLocationsShipsResponse": {
        "type": "object",
        "required": [
          "location"
        ],
        "properties": {
          "location": {
            "$ref": "#/components/schemas/Location"
          }
        }
      },
      "GameFlightPlan": {
        "type": "object",
        "required": [
          "arrivesAt",
          "createdAt",
          "departure",
          "destination",
          "id",
          "shipId",
          "shipType",
          "username"
        ],
        "properties": {
          "arrivesAt": {
            "type": "string",
            "format": "datetime",
            "example": "2021-03-28T23:11:50.068Z"
          },
          "createdAt": {
            "type": "string",
            "format": "datetime",
            "example": "2021-03-28T23:05:50.068Z"
          },
          "departure": {
            "type": "string",
            "example": "OE-PM-TR"
          },
          "destination": {
            "type": "string",
            "example": "OE-CR"
          },
          "id": {
            "type": "string",
            "example": "ckmtrssae0402zgopsy39y9z7"
          },
          "shipId": {
            "type": "string",
            "example": "ckmtrlqpz0109zgopkeqs4m5s"
          },
          "username": {
            "type": "string",
            "example": "SomeUser"
          }
        }
      },
      "ListGameSystemFlightPlansResponse": {
        "type": "object",
        "required": [
          "flightPlans"
        ],
        "properties": {
          "flightPlans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GameFlightPlan"
            }
          }
        }
      },
      "AvailableLoan": {
        "type": "object",
        "required": [
          "amount",
          "collateralRequired",
          "rate",
          "termInDays",
          "type"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "example": 200000
          },
          "collateralRequired": {
            "type": "boolean",
            "example": false
          },
          "rate": {
            "type": "number",
            "example": 40
          },
          "termInDays": {
            "type": "number",
            "example": 2
          },
          "type": {
            "type": "string",
            "example": "STARTUP"
          }
        }
      },
      "ListGameLoansResponse": {
        "type": "object",
        "required": [
          "loans"
        ],
        "properties": {
          "loans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvailableLoan"
            }
          }
        }
      },
      "PurchaseLocation": {
        "type": "object",
        "required": [
          "system",
          "location",
          "price"
        ],
        "properties": {
          "system": {
            "type": "string",
            "example": "OE"
          },
          "location": {
            "type": "string",
            "example": "OE-A1"
          },
          "price": {
            "type": "number",
            "example": 16000
          }
        }
      },
      "PurchaseableShip": {
        "type": "object",
        "required": [
          "class",
          "purchaseLocations",
          "manufacturer",
          "maxCargo",
          "plating",
          "speed",
          "type",
          "weapons"
        ],
        "properties": {
          "class": {
            "type": "string"
          },
          "manufacturer": {
            "type": "string",
            "example": "Jackshaw"
          },
          "maxCargo": {
            "type": "number",
            "example": 50
          },
          "plating": {
            "type": "number",
            "example": 5
          },
          "type": {
            "type": "string",
            "example": "JW-MK-I"
          },
          "weapons": {
            "type": "number",
            "example": 5
          },
          "purchaseLocations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseLocation"
            }
          }
        }
      },
      "ListGamePurchasableShipsResponse": {
        "type": "object",
        "required": [
          "ships"
        ],
        "properties": {
          "ships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseableShip"
            }
          }
        }
      },
      "System": {
        "type": "object",
        "required": [
          "symbol",
          "name",
          "locations"
        ],
        "properties": {
          "symbol": {
            "type": "string",
            "example": "OE"
          },
          "name": {
            "type": "string",
            "example": "Omicron Eridani"
          },
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Location"
            }
          }
        }
      },
      "ListGameSystemsResponse": {
        "type": "object",
        "required": [
          "systems"
        ],
        "properties": {
          "systems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/System"
            }
          }
        }
      },
      "GetGameStatusResponse": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "example": "spacetraders is currently online and available to play"
          }
        }
      },
      "ListGameSystemLocations": {
        "type": "object",
        "required": [
          "locations"
        ],
        "properties": {
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Location"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}