openapi: 3.0.1
info:
  title: SpaceTraders Syndicate API
  description: spacetraders.io OpenAPI Spec
  version: 1.0.0
  contact:
    email: jaredlshort@gmail.com
servers:
  - url: https://api.spacetraders.io
    description: Production
  - url: https://staging.api.spacetraders.io
    description: Staging
paths:
  /users/{username}/token:
    $ref: ./paths/usersToken.yml
  /users/{username}:
    $ref: ./paths/users.yml
  /users/{username}/ships:
    $ref: ./paths/usersShips.yml
  /users/{username}/ships/{shipId}:
    $ref: ./paths/usersShipsById.yml
  /users/{username}/loans:
    $ref: ./paths/usersLoans.yml
  /users/{username}/loans/{loanId}:
    $ref: ./paths/usersLoansById.yml
  /users/{username}/purchase-orders:
    $ref: ./paths/usersPurchaseOrders.yml
  /users/{username}/flight-plans:
    $ref: ./paths/usersFlightPlans.yml
  /users/{username}/flight-plans/{flightPlanId}:
    $ref: ./paths/usersFlightPlansById.yml
  /game/locations/{symbol}:
    $ref: ./paths/gameLocations.yml
  /game/locations/{symbol}/ships:
    $ref: ./paths/gameLocationsShips.yml
  /game/systems/{symbol}/flight-plans:
    $ref: ./paths/gameSystemsFlightPlans.yml
  /game/loans:
    $ref: ./paths/gameLoans.yml
  /game/ships:
    $ref: ./paths/gameShips.yml
  /game/systems:
    $ref: ./paths/gameSystems.yml
  /game/status:
    $ref: ./paths/gameStatus.yml
  /game/systems/{symbol}/locations:
    $ref: ./paths/gameSystemsLocations.yml

components:
  securitySchemes:
    bearerAuth:
      type: http
      bearerFormat: 'Bearer {token}'
      scheme: bearer
security:
  - bearerAuth: []
