openapi: 3.0.1
info:
  title: SpaceTraders OpenAPI
  description: A SpaceTraders.io API OpenAPI Spec from SpaceTraders Syndicate
  version: 1.0.0
  contact:
    email: spacetraders.syndicate@gmail.com
servers:
  - url: https://api.spacetraders.io
    description: Production
  - url: https://staging.api.spacetraders.io
    description: Staging
paths:
  /users/{username}/token:
    $ref: ./paths/usersToken.yml
  /users/{username}:
    $ref: ./paths/usersById.yml
  /users/{username}/ships:
    $ref: ./paths/usersShips.yml
  /users/{username}/sell-orders:
    $ref: ./paths/usersSellOrders.yml
  /users/{username}/ships/{shipId}:
    $ref: ./paths/usersShipsById.yml
  /users/{username}/ships/{shipId}/jettison:
    $ref: ./paths/usersShipsByIdJettison.yml
  /users/{username}/ships/{fromShipId}/transfer:
    $ref: ./paths/usersShipsByIdTransfer.yml
  /users/{username}/loans:
    $ref: ./paths/usersLoans.yml
  /users/{username}/structures:
    $ref: ./paths/usersStructures.yml
  /users/{username}/structures/{structureId}:
    $ref: ./paths/usersStructuresById.yml
  /users/{username}/structures/{structureId}/deposit:
    $ref: ./paths/usersStructuresByIdDeposit.yml
  /users/{username}/structures/{structureId}/transfer:
    $ref: ./paths/usersStructuresByIdTransfer.yml
  /users/{username}/loans/{loanId}:
    $ref: ./paths/usersLoansById.yml
  /users/{username}/purchase-orders:
    $ref: ./paths/usersPurchaseOrders.yml
  /users/{username}/flight-plans:
    $ref: ./paths/usersFlightPlans.yml
  /users/{username}/flight-plans/{flightPlanId}:
    $ref: ./paths/usersFlightPlansById.yml
  /game/locations/{symbol}:
    $ref: ./paths/gameLocations.yml
  /game/locations/{symbol}/ships:
    $ref: ./paths/gameLocationsShips.yml
  /game/systems/{symbol}/flight-plans:
    $ref: ./paths/gameSystemsFlightPlans.yml
  /game/locations/{symbol}/marketplace:
    $ref: ./paths/gameLocationsMarketplace.yml
  /game/structures:
    $ref: ./paths/gameStructures.yml
  /game/loans:
    $ref: ./paths/gameLoans.yml
  /game/ships:
    $ref: ./paths/gameShips.yml
  /game/systems:
    $ref: ./paths/gameSystems.yml
  /game/status:
    $ref: ./paths/gameStatus.yml
  /game/systems/{symbol}/locations:
    $ref: ./paths/gameSystemsLocations.yml

components:
  securitySchemes:
    bearerAuth:
      type: http
      bearerFormat: 'Bearer {token}'
      scheme: bearer
security:
  - bearerAuth: []

tags:
  - name: flight plans
  - name: game
  - name: loans
  - name: locations
  - name: marketplace
  - name: purchase orders
  - name: sell orders
  - name: ships
  - name: structures
  - name: systems
  - name: users
