openapi: 3.0.1
info:
  title: SpaceTraders OpenAPI
  description: A SpaceTraders.io API OpenAPI Spec from SpaceTraders Syndicate
  version: 2.0.0
  contact:
    email: spacetraders.syndicate@gmail.com
servers:
  - url: https://api.spacetraders.io
    description: Production
  - url: https://staging.api.spacetraders.io
    description: Staging
paths:
  /users/{username}/claim:
    $ref: ./paths/usersClaim.yml
  /my/account:
    $ref: ./paths/myAccount.yml
  /my/ships:
    $ref: ./paths/myShips.yml
  /my/sell-orders:
    $ref: ./paths/mySellOrders.yml
  /my/ships/{shipId}:
    $ref: ./paths/myShipsById.yml
  /my/ships/{shipId}/jettison:
    $ref: ./paths/myShipsByIdJettison.yml
  /my/ships/{fromShipId}/transfer:
    $ref: ./paths/myShipsByIdTransfer.yml
  /my/loans:
    $ref: ./paths/myLoans.yml
  /my/structures:
    $ref: ./paths/myStructures.yml
  /my/structures/{structureId}:
    $ref: ./paths/myStructuresById.yml
  /my/structures/{structureId}/deposit:
    $ref: ./paths/myStructuresByIdDeposit.yml
  /my/structures/{structureId}/transfer:
    $ref: ./paths/myStructuresByIdTransfer.yml
  /my/loans/{loanId}:
    $ref: ./paths/myLoansById.yml
  /my/purchase-orders:
    $ref: ./paths/myPurchaseOrders.yml
  /my/flight-plans:
    $ref: ./paths/myFlightPlans.yml
  /my/flight-plans/{flightPlanId}:
    $ref: ./paths/myFlightPlansById.yml
  /locations/{symbol}:
    $ref: ./paths/locations.yml
  /locations/{symbol}/ships:
    $ref: ./paths/locationsShips.yml
  /locations/{symbol}/marketplace:
    $ref: ./paths/locationsMarketplace.yml
  /types/structures:
    $ref: ./paths/typesStructures.yml
  /structures:
    $ref: ./paths/structures.yml
  /types/loans:
    $ref: ./paths/typesLoans.yml
  /types/ships:
    $ref: ./paths/typesShips.yml
  /game/status:
    $ref: ./paths/gameStatus.yml
  /game/systems:
    $ref: ./paths/systems.yml
  /systems/{symbol}/locations:
    $ref: ./paths/systemsLocations.yml
  /systems/{symbol}/flight-plans:
    $ref: ./paths/systemsFlightPlans.yml
  /systems/{symbol}/ships:
    $ref: ./paths/systemsShips.yml
  /systems/{symbol}/ship-listings:
    $ref: ./paths/systemsShipListings.yml

components:
  securitySchemes:
    bearerAuth:
      type: http
      bearerFormat: 'Bearer {token}'
      scheme: bearer
security:
  - bearerAuth: []

tags:
  - name: flight plans
  - name: game
  - name: loans
  - name: locations
  - name: marketplace
  - name: purchase orders
  - name: sell orders
  - name: ships
  - name: structures
  - name: systems
  - name: my
